# influxSettings is a dictionary of Influx DB related settings
influxSettings = dict(
    url = 'https://influxdatabase.local/',
    key = 'keys/my.key',
    crt = 'keys/my.crt',
    database = 'teho',
    measurement = 'power_measurements'
)

# serialSettings is a dictionary of serial port settings
serialSettings = dict(
    port = '/dev/ttyAMA0',
    baudrate = 9600,
    timeout = 0.5
)

# deviceSettings is a list of dictionaries for each device to be read
deviceSettings = [
    dict(
        address = 1,
        map_file = 'modbus/or-we-504.yaml',
        tag = 'power-meter'
    )
]